// Parameters with default values
params {
    indir = null
    outdir = null
    index_dir = "$projectDir/../indexes/bwamem2_indexes/NC_009942-1"
    refs = "$projectDir/refs_3.csv"
    cpus = 12
    min_depth = 10
    single_end = true
}

apptainer.enabled = true

process {
    withName:FASTP {
        memory = '24.GB'
        cpus = 8
        container = '../containers/fastp.sif'
        scratch = true
        stageInMode = 'copy'
    }
    withName:BWAMEM2 {
        memory = '24.GB'
        cpus = 8
        container = '../containers/bwa-mem2.sif'
    }
    withName:BWAMEM2_INDEX {
        memory = '24.GB'
        cpus = 8
        container = '../containers/bwa-mem2.sif'
    }
    withName:RAW_METRICS {
        memory = '24.GB'
        cpus = 8
        scratch = true
        stageInMode = 'copy'
        container = "../containers/samtools.sif"
    }
    withName:TRIMMED_METRICS {
        container = "../containers/samtools.sif"
    }
    withName:ALIGNED_METRICS {
        container = "../containers/samtools.sif"
    }
    withName:DEDUPLICATE {
        cpus = 4
        memory = '24.GB'
        container = '../containers/picard.sif'
    }
    withName:REPORT_COMPILATION {
        container = '../containers/python311.sif'
    }
    withName:BASE_RECALIBRATOR {
        container = '../containers/gatk.sif'
    }
    withName:APPLY_BQSR {
        container = '../containers/gatk.sif'
    }
    withName:PREPARE_REFERENCE {
        container = '../containers/gatk.sif'
    }
    withName:HAPLOTYPE_CALLER {
        container = '../containers/gatk.sif'
    }
    withName:SELECT_SNPS {
        container = '../containers/gatk.sif'
    }
    withName:SELECT_INDELS {
        container='../containers/gatk.sif'
    }
    withName:MERGE_FILTERED_VARIANTS {
        container='../containers/gatk.sif'
    }
    withName:COVERAGE_MASK {
        container='../containers/gatk.sif'
    }
    withName:SELECT_PASSING {
        container='../containers/gatk.sif'
    }
    withName:CONSENSUS {
        container='../containers/gatk.sif'
    }
    withName:FILTER_SNPS {
        container='../containers/gatk.sif'
    }
    withName:FILTER_INDELS {
        container='../containers/gatk.sif'
    }
    withName:PLOT_FULL_REFERENCE_UNIQUE {
        container='../containers/pygenome.sif'
    }

}