apptainer.enabled = true

process {
    withName:FASTP {
        container = '../containers/fastp.sif'
    }
    withName:BWAMEM2 {
        container = '../containers/bwa-mem2.sif'
    }
    withName:WORKFLOW_METRICS {
        container = '../containers/samtools.sif'
    }
    withName:DEDUPLICATE {
        container = '../containers/picard.sif'
    }
    withName:REPORT_COMPILATION {
        container = '../containers/python311.sif'
    }
    withName:INDEX {
        container = '../containers/samtools.sif'
    }
}